<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  
  <%= link_to image_tag("logo.png", style:"width:150px; height:90px;"), root_path %>
  <div class="navbar-collapse" id="navbarNav">
    <div class="col-md-6 ml-auto">
      <div class="header-search">
          <form class=" d-flex flex-row">
              <button  class="search-btn custom-search-btn">Categories</button>
              <input class="input " name="q" placeholder="Search here">
              <button class="search-btn" style="max-width:50px;" type="submit"><i class="fa fa-search fs-18"></i></button>
          </form>
          
      </div>
  </div>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
       
          <li class=" dropdown">
            <div class="nav-link dropdown-toggle d-flex flex-row" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
              <div class=" nav-link">
                <% if current_user.avatar.attached? %>
                  <%= link_to image_tag(current_user.avatar, {class:'profile'}), accounts_path %>
                <% else %>
                 
                <% end %>
                
              </div>
              <span class="mt-2">My Profile</span>
            
            </div>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <li class="dropdown-item">
                <%= link_to 'My Account', accounts_path, class: 'nav-link' %>
              </li>
               <% if current_user.status == 'moderator' %>
                <li class="dropdown-item">
                  <%= link_to 'Category', categories_path, class: 'nav-link' %> 
                </li>
                <li class="dropdown-item">
                  <%= link_to 'All Products', products_path, class: 'nav-link' %>
                </li>
                <li class="dropdown-item">
                  <%= link_to 'Add Products', new_product_path, class: 'nav-link' %>
                </li>
              <% end %>
              <li class="dropdown-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %> 
              </li>
            </ul>
          </li>
      <% else %>
         <li class="nav-item">
        <%= link_to 'Register',new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In',new_user_session_path, class: 'nav-link' %>
        </li>
      
      <% end %>
     <a href="/carts/index">
      <li class="nav-item mr-3 ml-2">
        
        <span class="main-cart-count">
            <i class="fa fa-shopping-cart fa-2x " style="color: green;"></i>
          <br>
          <span >My Cart
            <span class="cart-count"><%= session[:cart].size %></span>
          </span>
         </span>
      </li></a>
    </ul>
  </div>

  
</nav>


