


<nav class="navbar navbar-expand-lg navbar-light bg-white ">
  <li class="navbar-brand dropdown">
        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          All Categories 
        </div>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Category.all.each do |category| %>
          <li class="dropdown-item">
            <%= link_to category.name, products_path(category: category.name), class: 'nav-link' %>
          </li>
          <% end %>
        </ul>
      </li>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active mx-3 font-weight-normal">
        <%= link_to 'Mobiles', products_url(id: '5') %>
      </li>
      <li class="nav-item  mx-3 font-weight-normal">
        <%= link_to 'Cars', products_url(id: '12') %>
      </li>
      <li class="nav-item  mx-3 font-weight-normal">
        <%= link_to 'Motor Cycles', products_url(id: '56') %>
      </li>
      <li class="nav-item  mx-3 font-weight-normal">
        <%= link_to 'Houses', products_url(id: '57') %>
      </li>
      <li class="nav-item mx-3 font-weight-normal">
        <%= link_to 'Animals', products_url(id: '18') %>
      </li>
      
    </ul>
    
    
  </div>
</nav>
