<%= form_for([@product, @rating],remote:true)  do |form| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field d-flex flex-row align-items-center">
  <div class="rateyo" data-rateyo-rating="0" data-rateyo-num-stars="5"></div>
      <span class='result' >(0)</span>
      <%= form.hidden_field :rating, id:'textbox2' %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<script>
  $(function () {
      $(".rateyo").rateYo().on("rateyo.change", function (e, data) {
          var rating = data.rating;
    
          $(this).parent().find('.result').text('('+rating+')' );
          $(this).parent().find('#textbox2').val(rating);
        });
      });

</script>