<div class="container">
  <div class="row">
    <div class="col-6">
      <%= form_with(model: product, local: true) do |form| %>
        <% if product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

            <ul>
            <% product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :price %>
          <%= form.text_field :price, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :Product_description %>
          <%= form.text_area :desc, class: 'form-control' %>
        </div>

        <div class="field">
          <% id = current_user.id %>
          <%= form.hidden_field :user_id, value:id, class: 'form-control'%>
        </div>

        <div class="field">

          <%= select_tag "product[category_id]", options_from_collection_for_select(Category.all, "id", "name"), prompt: "Select Category", class: 'form-control' %>
          </div>

          <div class="field">
            <%= form.label :Upload_Product_Images %>
            <%= form.file_field :avatar, class: 'form-control'  %>
          </div>
          
        <div class="actions">
          <%= form.submit class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
    