
<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Home', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to 'Categories', root_path %>
        </li>
        <% if @category.blank? %>
        <% else %>
          <li class="breadcrumb-item active" aria-current="page"><%=@category.name %></li>
         <% end %>
      </ol>
    </nav>
<div class="container">
  
     <div class="row">
      <% @products.each do |product| %>
       <div class="col-lg-3 col-xs-12 col-md-6 ng-scope my-2">
        <div class="card card-hover" style="width: 270px;">
            <% if product.avatar.attached? %>
                <%= link_to image_tag(product.avatar, class: 'card-img'), product_path(product) %>
              <% end %>
            <div class="card-body">
              <h6 class="font-weight-bold text-center font-weight-normal text-capitalize" >
                 <%= link_to product.category.name, products_path(id:product.category.id)%>:
                <%= link_to product.name, product %> 
               </h6>
              <h6 class="font-weight-bold text-center green">Rs:<%= product.price %></h6>
                
              <% if user_signed_in? && current_user.status == 'moderator' %>
            
                    <center> <%= link_to 'Edit', edit_product_path(product) %> |
                    
                    <%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></center>
                    
                      <%= form_for :cart, url: carts_path do |f| %>
                       <%= f.hidden_field :product_id, :value => product.id %>
                          <%= f.hidden_field :product_quantity, value: 1 %>
                           <span >
                            <i class="fa fa-shopping-cart add-to-cart-btn-setting"></i>
                            <%= f.submit "Add to Cart", class:'add-to-cart-btn' %>
                           </span>
                    <% end %>
                   <% else %>
                     <center> <div class="average-review-rating" data-score= "<%= $average_rating %>"></div>
                      
                      </center>
                      
                      <%= form_for :cart, url: carts_path do |f| %>
                        <%= f.hidden_field :product_id, :value => product.id %>
                        <%= f.hidden_field :product_quantity, value: 1 %>
                         <span>
                        <i class="fa fa-shopping-cart add-to-cart-btn-setting"></i>
                        <%= f.submit "Add to Cart", class:'add-to-cart-btn' %> 
                        </span>
                      <%end %>
              <% end %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
 
   <div class="pagination justify-content-center pagination-sm">
       <%= paginate @products, window: 2 %>
   </div>

  
</div>

