
<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Home', root_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
      </ol>
    </nav>
<div class="container">
  
     <div class="row">
      <% @products.each do |product| %>
       <div class="col-lg-3 col-xs-12 col-md-6 ng-scope my-3">
        <div class="card card-hover">
            <% if product.avatar.attached? %>
                <%= link_to image_tag(product.avatar, class: 'card-img'), product_path(product) %>
              <% end %>
            <div class="card-body">
              <h6 class="font-weight-bold text-center font-weight-normal text-capitalize" >
                 <%= link_to product.category.name, products_path(id:product.category.id)%>:
                <%= link_to product.name, product %> 
               </h6>
              <h6 class="font-weight-bold text-center green">Rs:<%= product.price %></h6>
                
              <% if user_signed_in? && current_user.status == 'moderator' %>
            
                    <center> <%= link_to 'Edit', edit_product_path(product) %> |
                    
                    <%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></center>
                    
                      <%= form_for :cart, url: carts_path do |f| %>
                       <%= f.hidden_field :product_id, :value => product.id %>
                          <%= f.hidden_field :product_quantity, value: 1 %>
                           <span >
                            <i class="fa fa-shopping-cart add-to-cart-btn-setting"></i>
                            <%= f.submit "Add to Cart", class:'add-to-cart-btn' %>
                           </span>
                    <% end %>
                   <% else %>
                     <center> <div class="average-review-rating" data-score= "<%= $average_rating %>"></div>
                      
                      </center>
                      
                      <%= form_for :cart, url: carts_path do |f| %>
                        <%= f.hidden_field :product_id, :value => product.id %>
                        <%= f.hidden_field :product_quantity, value: 1 %>
                         <span>
                        <i class="fa fa-shopping-cart add-to-cart-btn-setting"></i>
                        <%= f.submit "Add to Cart", class:'add-to-cart-btn' %> 
                        </span>
                      <%end %>
              <% end %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
 
  <nav aria-label="justify-content-cente">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
</nav>
</div>

