

<div class="container">
<div class="row justify-content-center ">
  <div class="col-8 " >
    <div class="card">
      <div class="card-body">
        
      
        <div id="carouselExampleIndicators" class="carousel slide border-primary bg-dark" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag(@product.avatar, class:"d-block w-50 h-50 rounded mx-auto d-block" ) %>
        </div>
        <div class="carousel-item">
          <%= image_tag(@product.avatar, class:"d-block w-50 h-50 rounded mx-auto d-block ") %>
        </div>
        <div class="carousel-item">
          <%= image_tag(@product.avatar, class:"d-block w-50 h-50 rounded mx-auto d-block ") %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    </div>
    </div>

  </div>

  <div class="col-4">
    <h4>Username:</h4>
    <h4>Email: <%= @product.user.email %></h4>
    <p>Addess:</p>
    <p>Contact:</p>
    <div class="card">
      <div class="card-body">
        <%= form_for :cart, url: carts_path do |f| %>
        <div class="field">
          <%= f.hidden_field :product_id, :value => @product.id %>
        </div>
        <div class="field">
          <%= f.number_field :product_quantity, placeholder: 'Select Quantity', class: 'form-control'  %>
        </div>
           <span>
            <%= f.submit "Add to Cart", class:'add-to-cart-btn' %> 
          </span>
        <%end %><br>
        <%= button_to 'Buy Now', checkouts_path, remote: true, params:{id: @product.id}, class:'add-to-cart-btn' %>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-4 justify-content-center align-items-center">
      <div class="row ">
        <div class="col-12 justify-content-center align-items-center">
          <div class="card">
            <div class="card-body">
              <div class="card-deck">

               <div class="card">
                  <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
              <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
              <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
               <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
              <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <div class="row col-12">
    <div class="col-12 m-2">
    <div class="average-review-rating" data-score= "<%= $average_rating %>"></div>
    <span>Based on <%= @product.ratings.count  %> reviews.</span><br>
    </div>
  </div>
  <div class="row col-12">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h4>Details</h4>
            </div>
           
          </div>
          
          <table class="table">
            <thead>
              <tr >
                <th>Product Name</th>
                <th>Price</th>
                <th>Category</th>
              </tr>
            </thead>
            <tr>
              <td><%= @product.name %></td>
              <td><%= @product.price %></td>
              <td><%= @product.category.name %></td>
            </tr>
          </table>
          <hr style="width:100%; ">
          <h4>Description</h4>
          <p><%= @product.desc %></p>
        </div>
      </div>
    </div>   
  </div>

  </div>
    </div>
    <div class="col-lg-4  ">
      <h4>Product Reviews</h4>
        <% if @product.ratings.blank? %>
          <p>No Review Yet! Give first Review. </p>
        <% else %>
          <% @product.ratings.each do |r| %>
          <div class="row align-items-center">
            <div class="col-5  d-flex flex-row align-items-center">
              <div class=" mr-1">
                <%= link_to image_tag("1.jpg", {class:'comment-profile'}), root_path %>
              </div>
              <span class="font-weight-bold align-items-center"><%= link_to 'Username', root_path %></span>
            </div>
            <div class="col-7 align-items-center">
              <div class="star-rating" data-score = "<%= r.rating %>"> </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2"></div>
             <div class="col-10  comment">
               <%= r.comment %>
             </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-1">
              <span><%= link_to 'like', '#', class:'nav-link' %></span>
            </div>
            <div class="col-1">
               <span><%= link_to 'Reply', '#', class:'nav-link' %></span>
            </div>
          </div>
            
          <% end %>
         <% end %>
         
          <%= link_to 'Write a Review', new_product_rating_path(@product) %> 
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>



<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }

  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score');
    }

  });
</script>

<script>
  $(document).ready(function(){
  $("").click(function(){
    $(this).hide();
  });
});
</script>

