
 <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'Home', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to @product.category.name, products_path(id: @product.category.id) %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
      </ol>
    </nav>
<div class="container mt-3">
 
<div class="row justify-content-center ">
  <div class="col-sm-8 " >
    <div class="card">
      <div class="card-body">
        
      
        <div id="carouselExampleIndicators" class="carousel slide border-primary bg-dark" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag(@product.avatar, class:"d-block w-50 h-50 rounded mx-auto d-block" ) %>
        </div>
        <div class="carousel-item">
          <%= image_tag(@product.avatar, class:"d-block w-50 h-50 rounded mx-auto d-block ") %>
        </div>
        <div class="carousel-item">
          <%= image_tag(@product.avatar, class:"d-block w-50 h-50 rounded mx-auto d-block ") %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    </div>
    </div>

  </div>

  <div class="col-sm-4">
   
    <div class="card">
      <div class="card-body">
        <%= form_for :cart, url: carts_path do |f| %>
        <div class="field">
          <%= f.hidden_field :product_id, :value => @product.id %>
        </div>
        <div class="field">
          <%= f.label :Select_quantity, class:'text-capitalize font-weight-normal' %>
          <%= f.number_field :product_quantity, value:1, class: 'form-control'  %>
        </div>
        <br>
           <span>
            <%= f.submit "Add to Cart", class:'add-to-cart-btn' %> 
          </span>
        <%end %>
        
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 justify-content-center align-items-center">
      <div class="row ">
        <div class="col-12 justify-content-center align-items-center">
          <div class="card">
            <div class="card-body">
              <div class="card-deck">

               <div class="card">
                  <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
              <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
              <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
               <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
              <div class="card">
                <%= image_tag(@product.avatar, class:"card-img-top") %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <div class="row col-12">
    <div class="col-12 m-2">
    <div class="average-review-rating" data-score= "<%= $average_rating %>"></div>
    <span>Based on <%= @product.ratings.count  %> reviews.</span><br>
    </div>
  </div>
  <div class="row col-12">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h4>Details</h4>
            </div>
           
          </div>
          
          <table class="table">
            <thead>
              <tr >
                <th>Product Name</th>
                <th>Price</th>
                <th>Category</th>
              </tr>
            </thead>
            <tr>
              <td><%= @product.name %></td>
              <td><%= @product.price %></td>
              <td><%= @product.category.name %></td>
            </tr>
          </table>
          <hr style="width:100%; ">
          <h4>Description</h4>
          <p><%= @product.desc %></p>
        </div>
      </div>
    </div>   
  </div>

  </div>
    </div>
    <div class="col-lg-4  ">
      <h4>Product Reviews</h4>
        <% if @product.ratings.blank? %>
          <p>No Review Yet! Give first Review. </p>
        <% else %>
            <div id="messages">
              <%= render 'products/message' %>
            </div>
          
        <% end %>
         
          <%= link_to 'Write a Review', new_product_rating_path(@product) %> 
    </div>
  </div>
</div>



<script>
  $('.star-rating').rateYo({
    rating: 3.6,
    starWidth: "25px"
  });
</script>

<script>
  $('.average-review-rating').rateYo({
    rating: 3.6,
    starWidth: "25px"
  });

</script>


