<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    
    <script src="https://js.stripe.com/v3/" ></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
  </head>

  <body>
     
    <%= render 'Shared/navbar' %>
    <div class="container-fluid">
      <%= render 'Shared/usernavbar' %>
      <hr>
      
      <% if notice  %>
        <%= render 'layouts/alert' %>
      <% end %>
      <%= yield %>
      <%= render 'Shared/footer' %>
    </div>


    
  </body>
</html>
